.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    margin-top: 1.5rem;
}

.title-text {
    font-size: 3rem;
    margin-bottom: 0.1rem;
    font-weight: bolder;
}

.desc {
    font-size: 1.5rem;
}

.actions {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.actions a {
    text-decoration: none;
    color: black;
}

.action-button {
    font-size: x-large;
    border-radius: 20px;
    padding: 1rem 2rem;
    cursor: pointer;
}