.form-control {
    background: none;
    width: inherit;
    display: flex;
    flex-direction: column;
}

.form-control input {
    font-size: x-large;
    background: none;
    border: none;
    border-bottom: 2px solid silver;
    color: whitesmoke
}

.form-control label {
    display: inline-block;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, font-size 0.3s ease;
    text-align: left;
  }
  
.form-control label.active-label {
    opacity: 1;
    transform: translateY(0);
    font-size: 14px;
}

::placeholder {
    color: whitesmoke;
}

input:focus::placeholder {
    color: transparent
}

